*{
    padding: 0px;
    margin:0px;
}
/*整体背景白色*/
body{
    background: #fff;
    font-family: "Montserrat";
}

ul, ul li,  ul li a{
    text-decoration: none!important;
}

/*侧栏导航的尺寸和位置*/
.sidebar {
    width: 400px;
    height: 100%;
    position: fixed;
    background: #fff;
    left:0px;
}
/*侧栏标题*/
.sidebar h3 {
    /*font-family: "Montserrat";*/
    font-weight: 700;
    color: black;
}
.sidebar ul li {
    position: relative;
    list-style: none;
}

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu {
    margin-top: 20px;
    padding-left: 30px;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li a span{
    display: block;
}
/*侧栏的菜单*/
ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 0px 0px 0px 10px;
    font-size: 13px;
    font-family: "Montserrat";
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    color: #424a5d;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* MAIN CONTENT CONFIGURATION */
.main-content {
    margin-left: 300px;
    margin-top: 5px;
}

.portfolio-grid{
    display: inline-block;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
}

#portfolio-sidebar{
    width: 900px !important;
    padding-right: 0px;
  }
  
  li.grid-item{
    width:280px; /*360*/
    position:relative;
    float:left;
    padding:0px;
    list-style: none;
    margin: 5px;
  }

  li.grid-item img{
    width:280px;
  }
  
  .grid-hover{
    position: absolute;
    width:280px;
    height: 100%;
    top:0;
    background: white;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; 
  }
  
  .grid-hover:hover{
    opacity: 0.9;
  }
  
  .grid-hover h1{
    font-size:18px;
    bottom:80px;
    left:20px;
    position:absolute;
    text-transform:uppercase;
    color:#000000;
    letter-spacing:1px;
    font-weight:700;
    line-height:50px;
  }
  
  .grid-hover p{
    font-size:13px;
    bottom:20px;
    left:20px;
    right: 20px;
    position:absolute;
    color: #424a5d;
    letter-spacing:1px;
    font-weight:400;
    line-height:16px;
  }